.game {
    margin-top:2rem;
    margin-bottom: 2rem;
}
.game__container {
    width: 20rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

[data-view="card"] {
    transform: rotateY(180deg);
    width: 24%;
    height: 72px;
    margin: 1px;
   
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
}

.flipped {
    transition: 0.2s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  .reverse {
    transition: 0.2s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
  }
  
  .correct {
    transition: 0.8s;
    opacity: 0.2;
    cursor: default;
    transform-style: preserve-3d;
    position: relative;
    transform: translateX(-5000%);
  }


/* Cards */
.correct[data-item="1"],
.flipped[data-item="1"] {
  background: url("../images/1.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="2"],
.flipped[data-item="2"] {
  background: url("../images/2.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="3"],
.flipped[data-item="3"] {
  background: url("../images/3.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="4"],
.flipped[data-item="4"] {
  background: url("../images/4.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="5"],
.flipped[data-item="5"] {
  background: url("../images/5.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="6"],
.flipped[data-item="6"] {
  background: url("../images/6.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="7"],
.flipped[data-item="7"] {
  background: url("../images/7.png") center center no-repeat;
  background-size: contain;
}

.correct[data-item="8"],
.flipped[data-item="8"] {
  background: url("../images/8.png") center center no-repeat;
  background-size: contain;
}

#time {
    display: flex;
    justify-content: center;
    text-align: center;
}
.title--time {
    text-align: center;
}